body {
  background-color: white;
  padding-top: 76px;
  padding-left: 54px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 50px;
}

button {
  padding: 15px 81px;
  font-weight: 800;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: -6%;
  vertical-align: middle;
  border-radius: 24.5px;
  border: none;
  cursor: pointer;
  color: white;
}

.buttons button:nth-child(1) {
  background-color: #1bf234;
}
.buttons button:nth-child(2) {
  background-color: #1ba1f2;
}

.buttons button:nth-child(3) {
  background-color: #f2311b;
}
